#aboutme {
    width: 500px; 
    height: fit-content;
    grid-column: 3 / 23;
    grid-row: 1 / auto;
}

#interests {
    width: 200px; 
    height: fit-content;
    grid-column: 25 / 33;
    grid-row: 3 / auto;
}

#socials {
    width: 200px; 
    height: fit-content;
    grid-column: 1 / 8;
    grid-row: 22 / auto;
}

#music {
    width: 250px; 
    height: fit-content;
    grid-column: 11 / 21;
    grid-row: 24 / auto;
}

#aboutmeyo {
    width: 150px; 
    height: fit-content;
    grid-column: 18 / 22;
    grid-row: 55 / auto;
}

#siteinfo {
    width: 250px;
    height: fit-content;
    grid-column: 2 / 17;
    grid-row: 63 / auto;
}