#aboutme {
    width: 500px; 
    height: fit-content;
    grid-column: 3 / 23;
    grid-row: 1 / auto;
}

#interests {
    width: 200px; 
    height: fit-content;
    grid-column: 25 / 33;
    grid-row: 3 / auto;
}

#socials {
    width: 200px; 
    height: fit-content;
    grid-column: 16 / 24;
    grid-row: 42 / auto;
}

#music {
    width: 250px; 
    height: fit-content;
    grid-column: 1 / 11;
    grid-row: 22 / auto;
}

#aboutmeyo {
    width: 150px; 
    height: fit-content;
    grid-column: 9 / 13;
    grid-row: 56 / auto;
}

#siteinfo {
    width: 250px;
    height: fit-content;
    grid-column: 12 / 27;
    grid-row: 24 / auto;
}