body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#main {
    /*background-image: linear-gradient(147deg, rgba(0, 128, 128, 1) 17%, rgba(192, 89, 125, 1) 85%);*/
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper {
    display: grid;
    grid-auto-columns: 25px;
    grid-template-rows: repeat(65, 10px);
    justify-content: center;
    margin: 0 auto;
}

.text-separator {
    height: 2px;
    border-style: groove;
    border-image: url('icon/line-horizontal.svg');
    border-width: 2px;
    border-image-slice: 2;
}

.window {
    box-sizing: border-box;
}
