body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#main {
    background-image: linear-gradient(147deg, rgba(73, 53, 72, 1) 17%, rgba(75, 78, 109, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 10px;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.text-separator {
    height: 2px;
    border-style: groove;
    border-image: url('icon/line-horizontal.svg');
    border-width: 2px;
    border-image-slice: 2;
}

.window {
    box-sizing: border-box;
}
